@import '../scss/ws.scss';

@keyframes slideFromTop {
    0% {
        position: absolute;
        top: -6rem;
    }
    15% {
        position: absolute;
        top: 0rem;
    }
    80% {
        position: absolute;
        top: 0rem;
    }
    85% {
        position: absolute;
        top: 0rem;
    }
    100% {
        position: absolute;
        top: -6rem;
    }
}

$alpha: 1;
.toast-container {
    // animation: 
    //     slideFromTop 4s ease alternate;
        
    position: absolute;
    width: 100%;
    content: center;
    text-align: center;
    z-index: 10;
    background-color: rgba(4,9,9,0.0);
}

.toast-content {
    position: relative;
    float: right;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    max-height: 4rem;
    // content: center;
    vertical-align: middle;
    // text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    margin-bottom: 1px;
}

.toast-message {
    text-align: center;
}

.toast-icon {
    margin-top: 0px;
    float: right;
}

.toast-default {
    background-color: $ws-col-primary;
    background-color: rgba($ws-col-primary, $alpha);
    color: white;
}

.toast-warning {
    background-color: darkorange;
    background-color: rgba(darkorange, $alpha);
    color: white;
}

.toast-error {
    background-color: #CB3737;
    background-color: rgba(#CB3737, $alpha);
    color: white;
}

.toast-success {
    background-color: #1AAF87;
    background-color: rgba(#1AAF87, $alpha);
    color: white;
}

.toast-dark {
    background-color: #1c1c1c;
    background-color: rgba(#1c1c1c, $alpha);
    color: white;
}

.toast-light {
    background-color: #fefefe;
    background-color: rgba(white, $alpha);
    color: #1c1c1c;
}