@import '../../ws/scss/ws.scss';

.ws-input-container {
    position: absolute;
    width: 100%; 
    &:hover {
        color: $ws-col-primary;
    }
}

.ws-input {
    color: $ws-col-text;
    background-color: $ws-col-back;
}

.ws-input-label {
    // color: $ws-col-grey;
    font-size: 0.5em;
}