@import '../scss/ws.scss';

.map-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.map-component {
    // top: 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-bar {
    position: relative;
    margin-top: 4rem;
    width: 95%;
    height: 3rem;
    background-color: $ws-col-primary;
}