<div class="side-panel ws-demo-col-back">
    <h4 [style.color]="'white'">Ws Components</h4>
    <ws-list
        [wsItems]="demoItems"
        (wsItemChanged$)="changeDemoItem($event)"
        [wsRememberState]="true">
    </ws-list>
</div>

<div class="main-panel back-dark-2 ws-demo-content">
    <div style="position: absolute; top: 4rem; left: 0">
        <ws-toast></ws-toast>
    </div>
    <overview *ngIf="demoState==='overview'"></overview>
    <autocomplete-demo *ngIf="demoState==='autocomplete'"></autocomplete-demo>
    <!--<bbox-demo *ngIf="demoState==='bbox'"></bbox-demo>-->
    <!--<datetime-demo *ngIf="demoState==='datetime'"></datetime-demo>-->
    <input-demo *ngIf="demoState==='input'"></input-demo>
    <loader-demo *ngIf="demoState==='loader'"></loader-demo>
    <modal-demo *ngIf="demoState==='modal'"></modal-demo>
    <point-demo *ngIf="demoState==='point'"></point-demo>
    <select-demo *ngIf="demoState==='select'"></select-demo>
    <tabs-demo *ngIf="demoState==='tabs'"></tabs-demo>
    <testing *ngIf="demoState==='testing'"></testing>
    <toast-demo *ngIf="demoState==='toast'"></toast-demo>

</div>