<div class="side-panel ws-demo-col-back">
    <ws-list
        [wsName]="'Ws Components'"
        [wsItems]="demoItems"
        (wsItemChanged$)="changeDemoItem($event)">
    </ws-list>
</div>

<div class="main-panel back-dark-2 ws-demo-content">
    <ws-toast></ws-toast>
    <overview *ngIf="demoState==='overview'"></overview>
    <autocomplete-demo *ngIf="demoState==='autocomplete'"></autocomplete-demo>
    <point-demo *ngIf="demoState==='point'"></point-demo>
    <bbox-demo *ngIf="demoState==='bbox'"></bbox-demo>
    <datetime-demo *ngIf="demoState==='datetime'"></datetime-demo>
    <select-demo *ngIf="demoState==='select'"></select-demo>
    <loader-demo *ngIf="demoState==='loader'"></loader-demo>
    <modal-demo *ngIf="demoState==='modal'"></modal-demo>
    <tabs-demo *ngIf="demoState==='tabs'"></tabs-demo>
    <toast-demo *ngIf="demoState==='toast'"></toast-demo>
    <testing *ngIf="demoState==='testing'"></testing>

</div>