@import '../scss/ws.scss';

// Dimensions
$dim-navbar-height: $ws-dim-navbar;
$dim-title-size: calc(#{$ws-dim-navbar} / 2);
$dim-font-size: 1rem;
// Colors
$col-back: $ws-col-dark;
$col-primary: $ws-col-primary;
$col-text: $ws-col-light;

*{
-webkit-app-region: no-drag;
}

.back-col {
    background-color: $col-back;
}

.navbar {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-app-region: drag;
    background-color: $col-primary;
    color: $col-text;
    position: fixed;
    width: 100%;
    height: $dim-navbar-height;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar-title {
    position: relative; 
    font-size: $dim-title-size; 
    margin-top: calc(#{$dim-title-size} * 0.25);
    color: $col-text;
}

.navbar-title-light {
     @extend .navbar-title;
     font-weight: lighter;
}

.navbar-menu-button {
    position: relative;
    font-size: $dim-title-size;
    color: $col-text;
    margin-top: calc(#{$dim-title-size} * 0.25);
}

.navbar-env-details {
    position: absolute;
    top: $dim-navbar-height;
    right: 0;
    background: $col-back;
    color: white;
    width: 400px;
    height: 36rem;
    overflow: auto;
    box-shadow: 2px 2px 5px #888888;
    padding: {
        left: 1rem;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
    }
}

.navbar-options-button {
    position: relative;
    float: right;
    color: $col-text;
    margin-top: 1rem;
    width: $dim-navbar-height;
    height: $dim-navbar-height;
}

.navbar-select {
    margin: {
        left: 2rem;
        right: 2rem;
    }
    float: right;
    min-width: 10rem;
    height: 4rem;
}