<div class="row" style="padding-top: 5rem; padding-left: 2rem; padding-right: 2rem;">

    <div class="column">

        <div style="position: relative; width:  100%; height: 20rem;">
            <map style="position: relative; width: 100%; height: 100%;"></map>
        </div>
        
        <br>
        
        <div style="position: relative; width: 100%">
            <ws-point 
                #startPointVC
                [wsName]="'starting point'" 
                (wsChanged$)="updateLocation($event)">
            </ws-point>
        </div>
    </div>
</div>