<p>
    <ws-point
        [wsName]="'Top Left'"
        [wsPoint]="topLeft"
        [searchLat]="topLeft.latitude()"
        [searchLon]="topLeft.longitude()"
        (click)="selectTopLeft(true)"
        (wsChanged$)="updateTopLeft($event)">
    </ws-point>
</p>
<br>
<p>
    <ws-point
        [wsName]="'Bottom Right'"
        [wsPoint]="bottomRight"
        [searchLat]="bottomRight.latitude()"
        [searchLon]="bottomRight.longitude()"
        (click)="selectTopLeft(false)"
        (wsChanged$)="updateBottomRight($event)">
    </ws-point>
</p>