<div class="home-container">
    <div class="center">
        
        <!--<img class="home-background" src="/app/components/home/Angular2Image.png">-->

        <h3>Welcome to a custom Angular 2 starter</h3>

        <p class="header-description">
            This is a plain starter project, which showcases a basic, interactive <a [routerLink]="'/map'">Map</a> using Leaflet. Furthermore, this project includes a custom component library, accessible from the <a [routerLink]="'/ws'">Ws Lib</a> button
            below.
        </p>
        
        <a class="ws-btn big-button color-1" [routerLink]="'/ws'">Ws Library</a>
        <a class="ws-btn big-button color-2" [routerLink]="'/map'">Map Demo</a>

    </div>
</div>