@import '../scss/ws.scss';

.ws-tab-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: $ws-col-primary;
}

.ws-tab {
    flex-grow: 1;
    text-align: center;
    height: 3em;
    padding: 1em;
    cursor: pointer;
    color: $ws-col-grey-dark;
    &:hover {
        color: $ws-col-grey-light;
    }
}

.ws-tab-active {
    text-align: center;
    color: $ws-col-primary-text;
    font-weight: bold;
    border: {
        bottom: 4px solid $ws-col-primary-text;
    }
    &:hover {
        color: $ws-col-primary-text;
    }
}
