@import '../../ws/scss/ws.scss';

$ws-demo-overview-map-height: 20rem;

.ws-demo-overview-map {
    position: relative;
    // left: 50%; 
    // width:  50%; 
    height: $ws-demo-overview-map-height; 
    padding: {
        left: 2em;
        right: 2em;
    }
}

.ws-demo-overview-geojson {
    position: relative;
    // left: 0;
    // width: 50%;
    min-height: 2rem;
    padding: {
        left: 2rem;
        right: 2rem;
    }
}