<h1>Overview</h1>

<p [style.fontSize]="'1.2rem'">
    This is an overview of the Ws Library. Here you can find several components, along with example code. For a more detailed description of a component, please click on the respective link on the left panel. Happy coding!
</p>

<autocomplete-demo></autocomplete-demo>
<card-demo></card-demo>
<point-demo></point-demo>
<datetime-demo></datetime-demo>
<select-demo></select-demo>
<loader-demo></loader-demo>
<modal-demo></modal-demo>
<tabs-demo></tabs-demo>
<toast-demo></toast-demo>
<testing></testing>
