<autocomplete-demo></autocomplete-demo>
<card-demo></card-demo>

<h3>GeoJson</h3>
<p>There are several GeoJson compliant components, which you can navigate in the tabs.</p>
<div class="ws-card-5 ws-dark-3">
    
    <ws-tabs [tabs]="geojsonTabs" (wsChanged$)="switchGeojsonTab($event)"></ws-tabs>
    <div>
        <div class="ws-demo-overview-map">
            <ws-map></ws-map>
        </div>

        <point-demo [hidden]="geojsonTab !== 'Point'"></point-demo>
        <bbox-demo [hidden]="geojsonTab !== 'Bounding Box'"></bbox-demo>
    </div>
</div>

<datetime-demo></datetime-demo>
<select-demo></select-demo>
<loader-demo></loader-demo>
<modal-demo></modal-demo>
<tabs-demo></tabs-demo>
<toast-demo></toast-demo>
<testing></testing>