.not-found-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: auto;
  background: white;
}

.not-found {
  position: relative;
  max-width: 20rem;
  height: 100%;
  margin: auto;
  vertical-align: middle;
  padding-top: 10rem;
}

.not-found-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.not-found-text {
  font-size: 1.5rem;
}
