.ws-select {
  position: relative;
  background-color: transparent;
  color: white;
  min-width: 10rem;
  display: inline;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.ws-select-title {
  position: relative;
  padding-left: 0rem;
  font-size: 0.8rem;
  margin-top: -1rem;
}

.ws-select-click-area {
  position: relative;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #818181;
}

.ws-select-click-area:hover {
  bottom: 1px solid #00ADEE;
}

.ws-list {
  position: relative;
  min-width: 10rem;
  background-color: #1e1e1e;
  margin-top: 0px;
  border-bottom: 1px solid #00ADEE;
  border-left: 1px solid #00ADEE;
  border-right: 1px solid #00ADEE;
  border-top: 2px solid #00ADEE;
}

.ws-list-item {
  position: relative;
  height: 3rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  color: white;
  background-color: transparent;
  border-bottom: 0px solid #00ADEE;
  border-left: 0px solid #00ADEE;
  border-right: 0px solid #00ADEE;
  border-top: 0px solid transparent;
}

.ws-list-item:hover {
  background-color: #2f2f2f;
  color: #00ADEE;
}

.ws-list-item-label {
  position: relative;
  height: 3rem;
  font-size: 1rem;
  text-align: left;
  color: white;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ws-list-item-label-inactive {
  position: relative;
  height: 3rem;
  font-size: 1rem;
  text-align: left;
  color: gray;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ws-list-item-check {
  position: relative;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.ws-select-button {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  height: 2rem;
  color: white;
  background-color: transparent;
  text-align: left;
  padding-top: 0.5rem;
  font-size: 1.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ws-toggle-button {
  float: right;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.125rem;
  margin-top: -0.5rem;
  z-index: 1;
}
