@import '../scss/ws.scss';

.ws-select {
    position: relative;
    color: $ws-col-text;
    min-width: 10rem;
    // display: flex;
    display: inline;
    padding: {
        left: 1rem;
        top: 0.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }
    // margin: {
    //     bottom: 1rem;
    // }
}

.ws-select-title {
    position: relative;
    padding-left: 0rem;
    font-size: 0.8rem;
    margin-top: -1rem;
}

.ws-select-click-area {
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 0.5em;
    border : {
        bottom: 1px solid $ws-col-grey-dark;
    }
    &:hover {
        bottom: 1px solid $ws-col-primary;
    }
}

.ws-list-item {
    position: relative;
    // width: 100%;
    height: 3rem;
    padding: {
        top: 0.75rem;
        left: 1rem;
        bottom: 0.75rem;
        right: 1rem;
    }
    color: $ws-col-text;
    background-color: transparent;
    // background-color: white;
    // color: black;
    border : {
        bottom: 0px solid $ws-col-primary;
        left: 0px solid $ws-col-primary;
        right: 0px solid $ws-col-primary;
        top: 0px solid transparent;
    }
    &:hover {
        background-color: #2f2f2f;
        color: $ws-col-primary;
    }
}

.ws-list-item-label {
    position: relative;
    height: 3rem;
    font-size: 1rem;
    text-align: left;
    color: $ws-col-text;
    margin: {
        left: 0.5rem;
        top: 1rem;
        bottom: 1rem;
    }
}

.ws-list-item-label-inactive {
    position: relative;
    height: 3rem;
    font-size: 1rem;
    text-align: left;
    color: $ws-col-grey-dark;
    margin: {
        left: 0.5rem;
        top: 1rem;
        bottom: 1rem;
    }
}

.ws-list-item-check {
    position: relative;
    height: 2rem;
    width: 2rem;
    color: $ws-col-text;
    margin: {
        right: 1rem;
    }
}

.ws-select-button {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    height: 2rem;
    color: $ws-col-text;
    background-color: transparent;
    text-align: left;
    padding-top: 0.5rem;
    font-size: 1.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-toggle-button {
    float: right;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    color: $ws-col-text;
    padding: {
        top: 0.5rem; 
        right: 0.5rem;
        bottom: 0.5rem;
        left: 0.125rem;
    }
    margin: {
        top: -0.5rem;
    }
    z-index: 1;
}