<div class="row ws-select">
    <div class="ws-select-title ws-blue-i" [style.color]="wsColTitle">{{wsName}}</div>
    <!--Button-->
    <div *ngIf="true" class="ws-select-click-area" (click)="toggleList()">
        <a class="ws-select-button" >
            <i *ngIf="!showingList" class="material-icons ws-toggle-button">keyboard_arrow_down</i>
            <i *ngIf="showingList" class="material-icons ws-toggle-button">keyboard_arrow_up</i>
            <div class="ws-select-text">{{displayText}}</div>
        </a>
    </div>
    <!--List-->
    <div class="row">
        <div>
            <ws-list
                *ngIf="!wsMultiple && showingList"
                [wsItems]="wsItems"
                [wsMultiple]="wsMultiple"
                [wsRememberState]="wsRememberState"
                [wsShadow]="true"
                (wsItemChanged$)="setItem($event)">
            </ws-list>
        </div>

        <div>
            <ws-list
                *ngIf="wsMultiple && showingList"
                [wsItems]="wsItems"
                [wsMultiple]="wsMultiple"
                [wsRememberState]="true"
                [wsShadow]="true"
                (wsItemChanged$)="toggleItem($event)">
            </ws-list>
        </div>
    </div>
</div>
