<!-- Black Background -->
<div class="sidenav-background" [hidden]="!sidenav.isOn" (click)="sidenav.toggle()"></div>
<!--Full Menu-->
<div class="sidenav" [hidden]="!sidenav.isOn">
    <!--<label class="sidenav-title">{{activeItem.name}}</label>-->
    <div class="sidenav-options">
        <div class="collection">
            <a class="collection-item" *ngFor="let item of items" [routerLink]="item.routerLink" (click)="sidenav.toggle(); selectItem(item)">{{item.name}}</a>
        </div>
    </div>
</div>