.ws-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  z-index: 2;
}

.ws-modal-content {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  margin: 10rem;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.ws-modal-title {
  position: relative;
  color: black;
  font-size: 1.5rem;
  height: 4rem;
  border-bottom: solid 1px gray;
  text-align: center;
}

.ws-modal-message {
  position: relative;
  color: black;
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
}

.ws-modal-buttons-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
}

.ws-modal-button-dismiss {
  position: absolute;
  background-color: #00ADEE;
  color: white;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4rem;
  padding-top: 1rem;
}

.ws-modal-button-confirm {
  position: absolute;
  background-color: transparent;
  color: #00ADEE;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 4rem;
  padding-top: 1rem;
  border: solid;
  border-width: 1px;
  border-color: #00ADEE;
}
