<label style="position: relative; margin-left: 1rem; top: 1rem;">{{wsName}}</label>

<div materlialize class="col" style="height: 4rem; width: 100%">
    <!--Time Input-->
    <div *ngIf="true || isShowingTime">
        <div class="input-field col s4">
            <input id="time" type="time" class="validate" [(ngModel)]="datetime" (ngModelChange)="updateTime($event)">
        </div>
    </div>

    <!--Date field-->
    <div *ngIf="true || !isShowingTime">
        <div class="input-field col s6">
            <input id="date" type="date" class="validate" [(ngModel)]="datetime" (ngModelChange)="updateDate($event)">
        </div>
    </div>

    <!--Today-->
    <a class="col s2 ws-icon-button" (click)="chooseToday()" style="height: 100%" title="today">
        <i class="material-icons">today</i>
    </a>
</div>