@charset 'UTF-8';

// Overwrite default Ws Colors
$ws-active: $green;
$ws-text: $dark;
$ws-back: $light;

// Font
$base-font-size: 1em !default;
$base-font-family: Helvetica, Arial, Sans-Serif !default;
$base-font-color: $light !default;

@import '../app';