.ws-checkbox {
    position: relative;
    background-color: transparent;
}

.ws-checkbox-title {
    position: relative;
    font-size: 1rem;
}

.ws-checkbox-input {
    position: relative;
    float: right;
}